%p#notice= notice

%table
  %tr
    %th First Name
    %th Last Name
    %th Email
  %tr
    %td= @set_user.first_name
    %td= @set_user.last_name
    %td= @set_user.email

= link_to 'Edit', edit_admin_set_user_path(@set_user)
\|
= link_to 'Back', admin_set_users_path
